<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.akali.health</string>

    <key>ProgramArguments</key>
    <array>
        <string>/usr/local/bin/python3</string>
        <string>/Users/sevs/akali/autonomous/daemons/health_daemon.py</string>
        <string>start</string>
    </array>

    <key>WorkingDirectory</key>
    <string>/Users/sevs/akali</string>

    <key>StandardOutPath</key>
    <string>/Users/sevs/akali/autonomous/daemons/health.log</string>

    <key>StandardErrorPath</key>
    <string>/Users/sevs/akali/autonomous/daemons/health.error.log</string>

    <key>RunAtLoad</key>
    <true/>

    <key>KeepAlive</key>
    <dict>
        <key>SuccessfulExit</key>
        <false/>
    </dict>

    <key>ThrottleInterval</key>
    <integer>300</integer>

    <key>EnvironmentVariables</key>
    <dict>
        <key>PATH</key>
        <string>/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin</string>
    </dict>
</dict>
</plist>
